* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    background-color: #8a2be2; /* Neon Purple color */
  padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    
  }
  h1{
display: flex;
justify-content: center;
font-size: 76px;
color: #00FF00; /* Neon green text color */
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bold;
text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00; /* Neon glow effect */
animation: neonGlow 1s ease-in-out infinite alternate; /

  }
  .grid-wrapper {
    height: 70vmin;
    width: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .grid {
    align-items: center;
    box-shadow:rgb(157, 4, 134);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 100%;
    background-image: url('../SnakeGame\ Images/sbackground.png');
    background-size: contain;
    background-repeat: no-repeat;

  }
  
  .grid div {
    flex-grow: 1;
    height: 10%;
    width: 10%;
  }
  
  .grid div.snake {
    width: 10px;
    height: 10px;
    background-color: #00FF00;
    border-color: black;
    
  }
  .grid div.snakeHead {
    width: 10px;
    height: 10px;
    background-color: #FF00FF;
    border-color: black;
    


  }
  .grid div.food {
   width: 10px;
   height: 10px;
   background-image: url('../SnakeGame\ Images/junkfood.png');
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
   animation: pulse 0.5s infinite alternate;
   border-radius: 50px ;
  }
  button {
    background-color: #FF00FF; /* Neon purple for buttons */
  color: #000; /* Black text on buttons */
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

   
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  #ScoreBoard {
    background-color: #13ea21;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;

   }

   @keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00;
    }
    100% {
      text-shadow: 0 0 20px #00FF00, 0 0 30px #00FF00, 0 0 40px #00FF00;
    }
  }